<form class="add-user-form" [formGroup]="newUser">
  <div class="add-user-input">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" />
    </mat-form-field>
  </div>

  <div class="add-user-input">
    <mat-form-field>
      <mat-select placeholder="Symbol" formControlName="symbol">
        <mat-option *ngFor="let sym of symbols" [value]="sym">
          <span [class]="sym">{{sym}}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="add-user-input">
    <mat-form-field>
      <input matInput placeholder="Speed" value="0" formControlName="speed" />
    </mat-form-field>
  </div>

  <div class="add-user-input">
    <mat-form-field>
      <input matInput placeholder="Direction" formControlName="direction" />
    </mat-form-field>
  </div>

  <div class="add-user-button">
    <button mat-button (click)="addUser()">Add</button>
  </div>
</form>


